.body {
	font-family: Georgia,palatino;
	font-size: 15px;
	color: #170c0c;
}
.subhead {
	font-family: Georgia,palatino;
	font-size: 16px;
	color: #ff009d;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}
.head {
	font-family: Georgia,palatino;
	font-size: 18px;
	color: #ff006f;
	text-decoration: none;
	font-weight: bold;
}
.countdown {
	font-family: Alex Brush;
	font-size: 30px;
	color: #101010;
	font-weight: bold;
}
.warning {
	font-family: Cabin;
	font-size: 18px;
	color: #ce5c5c;
}
.Body {
	font-family: Georgia,palatino;
	font-size: 15px;
	color: #170c0c;
}
.Subhead {
	font-family: Georgia,palatino;
	font-size: 16px;
	color: #ff009d;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;
}
.Head {
	font-family: Georgia,palatino;
	font-size: 18px;
	color: #ff006f;
	text-decoration: none;
	font-weight: bold;
}
