.body {
	font-family: Cabin;
	font-size: 16px;
	color: #ffffff;
}
.subhead {
	font-family: Cabin Sketch;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}
.head {
	font-family: Cabin Sketch;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
.countdown {
	font-family: Cabin Sketch;
	font-size: 14px;
	color: #ffffff;
}
.warning {
	font-family: Cabin;
	font-size: 18px;
	color: #ce5c5c;
}
.Body {
	font-family: Cabin;
	font-size: 16px;
	color: #ffffff;
}
.Subhead {
	font-family: Cabin Sketch;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}
.Head {
	font-family: Cabin Sketch;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
