.body {
	font-family: Georgia,palatino;
	font-size: 15px;
	color: #170c0c;
}
.subhead {
	font-family: Georgia,palatino;
	font-size: 16px;
	color: #ff008c;
	text-decoration: none;
	font-weight: bold;
}
.head {
	font-family: Georgia,palatino;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.countdown {
	font-family: Cabin Sketch;
	font-size: 14px;
	color: #ffffff;
}
.warning {
	font-family: Cabin;
	font-size: 18px;
	color: #ce5c5c;
}
.Body {
	font-family: Georgia,palatino;
	font-size: 15px;
	color: #170c0c;
}
.Subhead {
	font-family: Georgia,palatino;
	font-size: 16px;
	color: #ff008c;
	text-decoration: none;
	font-weight: bold;
}
.Head {
	font-family: Georgia,palatino;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
