.body {
	font-family: ABeeZee;
	font-size: 14px;
	color: #333333;
	font-style: normal;
}
.subhead {
	font-family: Amatic SC;
	font-size: 22px;
	color: #72839f;
	text-decoration: none;
}
.head {
	font-family: Amatic SC;
	font-size: 28px;
	color: #72839f;
	text-decoration: none;
}
.countdown {
	font-family: Amatic SC;
	font-size: 14px;
	color: #72839f;
}
.warning {
	font-family: ABeeZee;
	font-size: 16px;
	color: #990000;
}
.Body {
	font-family: ABeeZee;
	font-size: 14px;
	color: #333333;
	font-style: normal;
}
.Subhead {
	font-family: Amatic SC;
	font-size: 22px;
	color: #72839f;
	text-decoration: none;
}
.Head {
	font-family: Amatic SC;
	font-size: 28px;
	color: #72839f;
	text-decoration: none;
}
