.body {
	font-family: Crimson Text;
	font-size: 18px;
	color: #ffffff;
	font-style: normal;
}
.subhead {
	font-family: Crimson Text;
	font-size: 18px;
	color: #b79f70;
	text-decoration: none;
}
.head {
	font-family: Alex Brush;
	font-size: 26px;
	color: #b79f70;
	text-decoration: none;
}
.countdown {
	font-family: Alex Brush;
	font-size: 16px;
	color: #b79f70;
}
.warning {
	font-family: Crimson Text;
	font-size: 18px;
	color: #FFFFFF;
}
.Body {
	font-family: Crimson Text;
	font-size: 18px;
	color: #ffffff;
	font-style: normal;
}
.Subhead {
	font-family: Crimson Text;
	font-size: 18px;
	color: #b79f70;
	text-decoration: none;
}
.Head {
	font-family: Alex Brush;
	font-size: 26px;
	color: #b79f70;
	text-decoration: none;
}
