.body {
	font-family: Fauna One;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
}
.subhead {
	font-family: Fauna One;
	font-size: 15px;
	color: #301605;
	text-decoration: none;
}
.head {
	font-family: Fauna One;
	font-size: 18px;
	color: #301605;
	text-decoration: none;
}
.countdown {
	font-family: Fauna One;
	font-size: 14px;
	color: #4F2911;
}
.warning {
	font-family: Fauna One;
	font-size: 16px;
	color: #990000;
}
.Body {
	font-family: Fauna One;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
}
.Subhead {
	font-family: Fauna One;
	font-size: 15px;
	color: #301605;
	text-decoration: none;
}
.Head {
	font-family: Fauna One;
	font-size: 18px;
	color: #301605;
	text-decoration: none;
}
