.body {
	font-family: Cabin;
	font-size: 16px;
	color: #4F2911;
	font-style: normal;
}
.subhead {
	font-family: Cabin Sketch;
	font-size: 18px;
	color: #4F2911;
	text-decoration: none;
}
.head {
	font-family: Cabin Sketch;
	font-size: 20px;
	color: #4F2911;
	text-decoration: none;
}
.countdown {
	font-family: Cabin Sketch;
	font-size: 14px;
	color: #4F2911;
}
.warning {
	font-family: Cabin;
	font-size: 16px;
	color: #780000;
}
.Body {
	font-family: Cabin;
	font-size: 16px;
	color: #4F2911;
	font-style: normal;
}
.Subhead {
	font-family: Cabin Sketch;
	font-size: 18px;
	color: #4F2911;
	text-decoration: none;
}
.Head {
	font-family: Cabin Sketch;
	font-size: 20px;
	color: #4F2911;
	text-decoration: none;
}
