.body {
	font-family: Quattrocento Sans;
	font-size: 16px;
	color: #000000;
	font-style: normal;
}
.subhead {
	font-family: Quattrocento Sans;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}
.head {
	font-family: Great Vibes;
	font-size: 26px;
	color: #a68b4b;
	text-decoration: none;
}
.countdown {
	font-family: Great Vibes;
	font-size: 16px;
	color: #000000;
}
.warning {
	font-family: Quattrocento Sans;
	font-size: 18px;
	color: #990000;
}
.Body {
	font-family: Quattrocento Sans;
	font-size: 16px;
	color: #000000;
	font-style: normal;
}
.Subhead {
	font-family: Quattrocento Sans;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}
.Head {
	font-family: Great Vibes;
	font-size: 26px;
	color: #a68b4b;
	text-decoration: none;
}
