.body {
	font-family: Fauna One;
	font-size: 15px;
	color: #ffffff;
	font-style: normal;
}
.subhead {
	font-family: Fauna One;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}
.head {
	font-family: Fauna One;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
.countdown {
	font-family: Arvo;
	font-size: 16px;
	color: #ffffff;
}
.warning {
	font-family: Fauna One;
	font-size: 16px;
	color: #000000;
}
.Body {
	font-family: Fauna One;
	font-size: 15px;
	color: #ffffff;
	font-style: normal;
}
.Subhead {
	font-family: Fauna One;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}
.Head {
	font-family: Fauna One;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}
