.body {
	font-family: ABeeZee;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
}
.subhead {
	font-family: ABeeZee;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}
.head {
	font-family: ABeeZee;
	font-size: 20px;
	color: #E2D3AD;
	text-decoration: none;
}
.countdown {
	font-family: ABeeZee;
	font-size: 14px;
	color: #ffffff;
}
.warning {
	font-family: ABeeZee;
	font-size: 16px;
	color: #dcc078;
}
.Body {
	font-family: ABeeZee;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
}
.Subhead {
	font-family: ABeeZee;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
}
.Head {
	font-family: ABeeZee;
	font-size: 20px;
	color: #E2D3AD;
	text-decoration: none;
}
