.body {
	font-family: Cabin;
	font-size: 16px;
	color: #ffffff;
	font-style: normal;
}
.subhead {
	font-family: Cabin;
	font-size: 18px;
	color: #f3ddac;
	text-decoration: none;
}
.head {
	font-family: Cabin;
	font-size: 20px;
	color: #f3ddac;
	text-decoration: none;
}
.countdown {
	font-family: Cabin;
	font-size: 16px;
	color: #f3ddac;
}
.warning {
	font-family: Cabin;
	font-size: 18px;
	color: #d5b161;
}
.Body {
	font-family: Cabin;
	font-size: 16px;
	color: #ffffff;
	font-style: normal;
}
.Subhead {
	font-family: Cabin;
	font-size: 18px;
	color: #f3ddac;
	text-decoration: none;
}
.Head {
	font-family: Cabin;
	font-size: 20px;
	color: #f3ddac;
	text-decoration: none;
}
