.body {
	font-family: Crimson Text;
	font-size: 18px;
	color: #dedfd2;
	font-style: normal;
}
.subhead {
	font-family: Crimson Text;
	font-size: 20px;
	color: #dedfd2;
	text-decoration: none;
}
.head {
	font-family: Alex Brush;
	font-size: 26px;
	color: #dedfd2;
	text-decoration: none;
}
.countdown {
	font-family: Alex Brush;
	font-size: 16px;
	color: #dedfd2;
}
.warning {
	font-family: Crimson Text;
	font-size: 18px;
	color: #caaf69;
}
.Body {
	font-family: Crimson Text;
	font-size: 18px;
	color: #dedfd2;
	font-style: normal;
}
.Subhead {
	font-family: Crimson Text;
	font-size: 20px;
	color: #dedfd2;
	text-decoration: none;
}
.Head {
	font-family: Alex Brush;
	font-size: 26px;
	color: #dedfd2;
	text-decoration: none;
}
